<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Donate
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card>
    <img alt="DoanteImage" class="DonateImg" src="https://drive.google.com/uc?id=16sL85fCiC5QVJsjgMPoWUTy374Wmlsny" />
    <ion-card-header>
      <ion-card-title class="card-title" >There are people who need your help</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      See how you can help them below.
    </ion-card-content>

    <div class="card-buttons">
      <ion-button fill="clear">Action 1</ion-button>
      <ion-button fill="clear">Action 2</ion-button>
    </div>

  </ion-card>

  
</ion-content>
