.container_ImagemLogo{
  max-height: 80%;
}

.container_Texto{
  color: white;
}

ion-icon{
  color: #aaff00;
  padding-inline: 0.6rem;
}

h3{
  font-weight: lighter;
  color: #aaff00;
  padding-inline: 0.8rem;
}

p{
  padding-inline: 0.6rem;
  font-size: large;
  color: white;
}
